@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

* {
    font-family: 'Mooli', sans-serif;
}

input {
    margin-top: 5px;
    padding: 6px;
    border-radius: 10px;
    border: 2px solid black;
    width: 200px;
}

.container {
    width: 50%;
}

input:focus {
    color: 2px solid blue !important;
}

select:focus {
    color: 2px solid blue !important;
}

select {
    margin-top: 5px;
    padding: 6px;
    border: 2px solid black;
    width: 100px;
    border-radius: 10px;
}

button {
    margin-top: 5px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 6px;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {  
    color: white;
    border-radius: 13px;
    background-color: red;
    letter-spacing: 1px;
    border: 2px solid red;
    transition: 0.3s ease;
}